讀取 excel，透過編程將內容寫入不同表單中

In [9]:
import pandas as pd

data = pd.read_excel("sales.xlsx", sheet_name="全部人員")
print(data)
title = list(data.columns)
reserve_title = data[["員工編號", "姓名"]]
with pd.ExcelWriter("sales1.xlsx") as workbook:
    for i in title[2:]:
        each_title = data[i]
        sheet_data = pd.concat([reserve_title, each_title], axis=1)
        sheet_data.to_excel(workbook, sheet_name=i, index=False)
        #
        print("=" * 40) 
        print(sheet_data)

   員工編號   姓名    語言類   資訊類   圖書類  業外收入
0  A001  陳大慶   5000  6500  5840  5400
1  A002  許忠仁   9600  5000  9800  5800
2  A003  胡建文   4580  4000  6500  5600
3  A004  鍾銘誠   5800  3890  7700  6400
4  A005  陳又利  90000  6504  8800  6850
5  A006  朱一平  12000  5550  6200  7700
========================================
   員工編號   姓名    語言類
0  A001  陳大慶   5000
1  A002  許忠仁   9600
2  A003  胡建文   4580
3  A004  鍾銘誠   5800
4  A005  陳又利  90000
5  A006  朱一平  12000
========================================
   員工編號   姓名   資訊類
0  A001  陳大慶  6500
1  A002  許忠仁  5000
2  A003  胡建文  4000
3  A004  鍾銘誠  3890
4  A005  陳又利  6504
5  A006  朱一平  5550
========================================
   員工編號   姓名   圖書類
0  A001  陳大慶  5840
1  A002  許忠仁  9800
2  A003  胡建文  6500
3  A004  鍾銘誠  7700
4  A005  陳又利  8800
5  A006  朱一平  6200
========================================
   員工編號   姓名  業外收入
0  A001  陳大慶  5400
1  A002  許忠仁  5800
2  A003  胡建文  5600
3  A004  鍾銘誠  6400
4  A005  陳又利  6850
5  A006  朱一平  7700